#footer {
    width: 100%;
    color: white;
    background-color: transparent;
    padding: 20px;
    text-align: center;
    margin-top: auto;
    /* Remove padding-left so it touches the sidebar */
    /* padding-left: 20vw; */
    box-sizing: border-box;
}
#footerAbout a {
    color: #daa7e2;
}
#footerAbout a:hover {
    color: #4c1255;
}